

.return{
  position: absolute;
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  height: 30px;
  width: 40px;
  left: 20px;
}






#addMoney{
  background: #dddddd;
  transition: 0.3s ease;
  transform: translate(110%);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 10;
}
#addMoney.active{
  transform: translate(0);
}
.thead1{
  box-shadow: inset 1px 1px 20px rgb(0,0,0,0.50);
  background: #fff;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  height: 60px;
  width: 100%;
}