*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: arial, sans-serif;
}


.section {
  display: none;
}

.section.active{
  display: block;
}


footer{
  box-shadow: inset 1px 1px 20px rgb(0,0,0,0.50);
  background: #fff;
  transition: 0.3s ease;
  position: fixed;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
  height: 60px;
  width: 100%;
  bottom: 0%;
}
footer.dow{
  transform: translateY(100%);
}

.btn1{
  background: transparent;
  color: #000;
  border: none;
  display: grid;
  place-content: center;
  border-radius: 10px;
  font-weight: bold;
  font-size: 10px;
  height: 55px;
  width: 55px;
  gap: 6px;
}
.fa-home, .fa-history, .fa-user{
  font-size: 12px;
}





#home{
  background: #dddddd;
  transition: 0.3s ease;
  position: fixed;
  height: 100vh;
  width: 100%;
}
#home.shift{
 transform: translate(-100%);
}

.header1{
  box-shadow: inset 1px 1px 20px rgb(0,0,0,0.50);
  background: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.suna-photo{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 8px;
}

.user-synbol{
  border-radius: 50px;
  filter: brightness(1.2);
  object-fit: cover;
  border: 2px solid gray;
  height: 50px;
  width: 50px;
}


.filingida{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding: 20px;
  gap: 10px;
}

.wallet1{
  box-shadow: inset 1px 1px 20px rgb(0,0,0,0.50);
  clip-path: inset(5px 5px 5px round 25px 0);
  background: #00cc99;
  display: flex;
  flex-direction: column;
  position: relative;
  font-weight: bold;
  padding: 20px;
  height: 130px;
  width: 100%;
  gap: 30%;
}
.wallet1 button{
  border-top-left-radius: 20px;
  background: transparent;
  position: absolute;
  display: grid;
  place-content: center;
  border: 5px solid #ddd;
  color: #000;
  font-weight: bold;
  padding: 10px;
  height: 50%;
  width: auto;
  right: 0%;
  bottom: 0%;;
}
#eye{
  cursor: pointer;
}
.kudi-hide{
  display: inline-block;
}




























#history{
  background: #dddddd;
  position: fixed;
  height: 100vh;
  width: 100%;
}


.header2{
  box-shadow: inset 1px 1px 20px rgb(0,0,0,0.50);
  background: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
  height: 60px;
  width: 100%;
}


















































#profile{
  background: #dddddd;
  position: fixed;
  height: 100vh;
  width: 100%;
}
.header3{
  box-shadow: inset 1px 1px 20px rgb(0,0,0,0.50);
  background: #fff;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 20px;
  height: 60px;
  width: 100%;
}