
@media screen and (max-width: 600px) {
  #bot span, #bot p, #bot nav {
    display: inline-block;
    padding: 20px;
  }
  #bot p{
    height: auto;
    width: 60%;
  }
  #bot span{
    height: 50px;
    width: 50%;
  }
  .bot-home{
    height: 100vh;
    width: 100%;
  }
  #bot{
    height: 70vh;
    width: 100%;
  }
}


@media screen and (max-width: 600px) {
  #bot-page{
    height: 100vh;
    width: 100%;
  }
}


@media all and (max-width: 600px) {
  #page1{
    height: 100vh;
    width: 100%;
  }
  .wallet {
    height: 200px;
    width: 100%;
    font-size: 14px;
  }
  #pundWallet{
    width: 40%;
    size: 14px;
  }
  #transaction{
    height: 50%;
    width: 40%;
    size: 14px;
  }
}